@charset "utf-8";
/* {wrapbootstrap} - Portfolio Igniter 1.1*/

h1, h2 {
	color:#FFF;
}
.footer {
	padding: 14px 15px 15px;
	margin-bottom: 0;
}
body * {
	font-family: 'open_sans_lightregular', sans-serif;
}
p {
	font-weight:300;
	font-size:16.9px;
	line-height:24px;
	font-family: 'open_sans_lightregular', sans-serif;
}
h1 {
	font-size:63px;
	font-weight:300;
	line-height:60px;
}
p a {
	color:#FFF;
	text-decoration:underline;
}
p a:hover {
	color:#FFF;
	text-decoration:none;
}
p a.btn {
	text-decoration:none!important;
}


/* colors */

h1 {color:#FFF; text-shadow: 0 1px rgba(0,0,0,.15);}
h2 {color:#FFF; font-family: 'Open Sans', sans-serif; font-weight:700; text-shadow: 0 1px rgba(0,0,0,.15); font-size:24px; padding-bottom:8px;}
h3 {color:#FFF;}
h4 {color:#FFF;}
h5 {color:#FFF;}
h6 {color:#FFF;}
p {color:#FFF;}

.navbar-fixed-top {
position:fixed;
margin-bottom: 18px;
}

/* footer */
.footer {
	background:#333;
}
.footer p {font-size:11pt;}
.footer p, .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, footer h6 {
	color:#FFF;
}

/* elements */
span.rnd {
	font-size: 14px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	border-radius: 50px;
	-moz-border-radius: 50px;
	width: 44px;
	height: 44px;
	text-indent: 8px;
	line-height: 44px;
	position: absolute;
	margin-top: 8px;
	margin-left: 2px;
	font-weight: normal;
	text-transform: lowercase;
	font-weight:800;
	font-style: italic;
	text-shadow: 1px 2px 0 rgba(0,0,0,0.075);
	-webkit-box-shadow: 1px 2px 0 0 rgba(0,0,0,0.075);
	-moz-box-shadow: 1px 2px 0 0 rgba(0,0,0,0.075);
}

.story {
	margin: 0 auto;
	margin-top:60px;
}


/* pages */
#home {
	background:rgb(240,110,170) url(../img/home_bg1.jpg) 50% 40px repeat-x fixed;
	color: white;
	min-height:641px;
	padding:10px 0 0 0;
	position:relative;
}
#blog {
	background:rgb(153,32,77) url(../img/blog_bg2.jpg) 50% 0 repeat-x fixed;
	color: white;
	min-height:1000px;
	margin: 0 auto;
	overflow:hidden;
	padding: 0;
}

#convo {
	background:#ca7aed url(../img/third_bg.jpg) 50% 0 repeat-x fixed;
	margin: 0 auto;
	padding: 40px 0 56px 0;
}
#convo p, #convo h1, #convo h2, #convo h3, #convo h4, #convo h5, #convo h6 {color:#FFF;}
#convo h2 {font-weight:300;}

#products {
	background: url(../img/blog_bg.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1000px;
	padding:0px 0 0 0;
}
#social {
	background:rgb(240,110,170);
	height: 800px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

/* objects */

/* 
you can add floating object in to design :

<div class="bg"></div>
<div class="bg2"></div>

note : this will break bootstrap fluid and responsive.css
*/

.bg {
	background: url(../img/sprites.png) no-repeat -18px -276px fixed;
	height: 1200px;
	margin: 0 auto;
	padding: 0px;
	position: absolute;
	left:0px;
	;
	width: 800px;
	z-index: 1;
	overflow:hidden;
}
.bg2 {
	background: url(../img/sprites.png) no-repeat -533px -20px fixed;
	height: 1400px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	left:-5px;
	width: 1200px;
	z-index: 1;
	overflow:hidden;
	top: 1379px;
}
