@charset "utf-8";
.container-fluid {
	max-width:1200px;
	margin:0 auto;
}
::selection {
	background:pink; /* Safari */
	}
::-moz-selection {
	background:pink; /* Firefox */
}
.twitter-follow-button{
	margin: 5px -33px 0 0;
	float:right;
}
#tweet{
	margin:2px -77px 0 0;
	clear:both;
}
.facebook-follow-button{
	float: right;
	width: 111px;
	margin: 10px -13px 0 0;
}
@font-face
{
	font-family: Ambassador_Script;
	src: url('/font/Ambassador_Script.ttf');
}
.killer_logo{
	font-family: Ambassador_Script;
	font-size: 43px;
	color:pink;
}
@font-face
{
	font-family: LetterGothicStd;
	src: url('/font/LetterGothicStd.otf');
}
a{
	color:#87CEFA;
}
a:hover{
	color:#87CEFA;
}
.clear{
	clear:both;
}
#listed_post{
	font-size: 17px;
	list-style: circle;
	padding: 4px 0;
}
#listed_post:hover{
	list-style: square;
}
hr{
	background: #333;
	border: 0;
	height: 1px;
}
.twitter_link{
	color:#000;
}
.twitter_link:hover{
	color:#fff;
}
.conf_logo{
	font-family: 'LetterGothicStd', arial;
	font-size: 33px;
}
.pic {
	margin-left:0;
	left:50%;
	position:absolute;
	bottom:-5px;
}
.pic figure{
	background: url(../img/sprites.png) no-repeat -731px -17px;width: 477px;height: 610px;
}
.comments{
	padding:77px 3px;
}
.page{
	background: rgb(153,32,77) url(../img/blog_bg2.jpg) 50% 0 repeat-x fixed;
	color:#fff;
	padding: 77px 33px;
	min-height: 640px;
}
.btn {
	color:#fff;
	border:none;
	box-shadow:0px 0 7px #600338;
	margin:7px;
	min-width:100px;
	padding:0;
	line-height:2.3;
	display:inline-block;
	background: #9d005d;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#9d005d), to(#7f0049));
	background: -webkit-linear-gradient(#9d005d, #7f0049);
	background: -moz-linear-gradient(#9d005d, #7f0049);
	background: -ms-linear-gradient(#9d005d, #7f0049);
	background: -o-linear-gradient(#9d005d, #7f0049);
	background: linear-gradient(#9d005d, #7f0049);
	-pie-background: linear-gradient(#9d005d, #7f0049);
	behavior: url(/pie/PIE.htc);
}
.btn:hover {
	color:#fff;
	background: #7F0049;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#7F0049), to(#9D005D));
	background: -webkit-linear-gradient(#7F0049, #9D005D);
	background: -moz-linear-gradient(#7F0049, #9D005D);
	background: -ms-linear-gradient(#7F0049, #9D005D);
	background: -o-linear-gradient(#7F0049, #9D005D);
	background: linear-gradient(#7F0049, #9D005D);
	-pie-background: linear-gradient(#7F0049, #9D005D);
	behavior: url(/pie/PIE.htc);
}
.navbar .nav > li > a {
	color:#fff;
}
#blog, #convo, .social, .footer {
	position:relative;
	z-index:9;
}
[class*="span"] {
margin-left:0;
}
.container .span12 .span4 a {
	float:left;
	margin-bottom: 6px;
}
.intro {
	width:100%;
	overflow:hidden;
	margin-top:10px;
}
.container .span12 .span4 .intro p {
	line-height:1.5;
}
.container .span12 .span4 .intro p a {
	float:none;
	color:#f788be;
	text-decoration:underline;
}
.read_more {
	color:#fff;
	font-size:12.29px;
	text-shadow:0 1px 0 #466519;
	background: #85af3c;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#85af3c), to(#5e823e));
	background: -webkit-linear-gradient(#85af3c, #5e823e);
	background: -moz-linear-gradient(#85af3c, #5e823e);
	background: -ms-linear-gradient(#85af3c, #5e823e);
	background: -o-linear-gradient(#85af3c, #5e823e);
	background: linear-gradient(#85af3c, #5e823e);
	-pie-background: linear-gradient(#85af3c, #5e823e);
	behavior: url(/pie/PIE.htc);
}
.navbar-inner {
	background:#000;
	height: 33px;
}
.nav-collapse {
clear: none;
}
.read_more:hover {
	background: #5E823E;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5E823E), to(#85AF3C));
	background: -webkit-linear-gradient(#5E823E, #85AF3C);
	background: -moz-linear-gradient(#5E823E, #85AF3C);
	background: -ms-linear-gradient(#5E823E, #85AF3C);
	background: -o-linear-gradient(#5E823E, #85AF3C);
	background: linear-gradient(#5E823E, #85AF3C);
	-pie-background: linear-gradient(#5E823E, #85AF3C);
	behavior: url(/pie/PIE.htc);
}
.navbar .nav > li > a:hover {
	background: #9e005d;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#9e005d), to(#7c0047));
	background: -webkit-linear-gradient(#9e005d, #7c0047);
	background: -moz-linear-gradient(#9e005d, #7c0047);
	background: -ms-linear-gradient(#9e005d, #7c0047);
	background: -o-linear-gradient(#9e005d, #7c0047);
	background: linear-gradient(#9e005d, #7c0047);
	-pie-background: linear-gradient(#9e005d, #7c0047);
	behavior: url(/pie/PIE.htc);
}
.navbar .nav .active > a {
	background:none;
}
.navbar .brand {
	padding: 5px 20px 0;
	color:rgb(242,242,242);
}
.navbar .nav > li > a { 
	font-family: 'open_sans_lightregular', sans-serif;
	padding: 16px 10px 4px;
}
.btn.btn-navbar{ display:none;}
.alert{position:fixed;top: 111px;z-index:10;}
::-webkit-scrollbar{width:17px;background:pink;}
::-webkit-scrollbar-thumb{background:#000;-webkit-box-shadow:inset 0 0 6px #000}
::-webkit-scrollbar-thumb:window-inactive{background:#000}
#upTop{
	opacity: 0;
	color:#fff;
	padding: 16px 10px 4px;
}
.tre-blog{
	margin-top:23px;
}
.bblogs{
	margin: 0 33px;
}
.dear-abby{
	margin-right:-33px;
}
.pull-right{
	float:right !important;
}
.pop-top{
	margin-top: 33px;
}
.muted {
	color: #999 !important;
}
.container .span12 ul li.span4 .span3{width:278px; margin-top:10px;}
.container .span12 ul li.span4 .span3 p{line-height:26px;}
.container .span12 ul li.span4 .span3 p a{ float:none; display:block;color:#F788BE;}
#home .span9{margin-top:150px;}
ul, li{ list-style:none;}
.container .span12 .span4 .span3 a{margin-right:10px;  margin-bottom:0;}
#blog h2{padding-bottom:12px;}
#blog h1{margin-top:20px;}
#blog .span2{width:234px;margin-bottom: 15px;}
.like li a{background:#f9f9f8; padding:10px;}
.like li a img{ border:1px solid #e4e4de; border-radius:3px; display:block;}
#blog .span2 a{background:none; padding:0;}
#blog .span2 a img{ border:none; border-radius:0;}
.like span{font-size:16.9px; line-height:1.5; margin-top:10px; display:block; clear:both;}
.comment{ overflow:hidden; margin-left:-7px; padding:5px 0 10px}
.comment li { float:left; background: url(../img/sprites.png) no-repeat -644px -742px; height:19px;width:3px;}
.comment li a{ font-size:16.9px; line-height:1.3; color:#f788be; background: none; padding:0 7px; text-decoration:underline;}
/* Conversations section CSS */
#convo *  { color:#000 !important;  letter-spacing: -1px;}
#convo .thumbnails li figure{width:105px; float:left;}
#convo .thumbnails li p, #convo .span4 p{font-size:23px; line-height:1.6;font-family: 'Open Sans', sans-serif; font-weight:400; font-style:italic;margin-top: -10px}
#convo .span5{ width:449px; position:relative;margin-left:25px;}
#convo .span5 span{ background: url(../img/sprites.png) no-repeat -588px -402px;width: 108px;height: 82px; position:absolute; top:-64px; right:-85px; line-height:0; text-indent:-99999px;}
#convo .span9{  width:836px;}
#convo .span9 h1{padding-bottom:40px;}
#convo .span4 h1{ position:relative; color:#fff !important;padding-bottom: 16px;}
#convo .span4{width:327px; float:right;}
.grid{ width:95%; display:inline-block;margin-top:60px;}
#convo .span9 .grid figure{ width:100px; float:right;}
#convo .span9 .grid .span5{ float:right; text-align:right;margin-right:25px;}
#convo .span9 .grid .span5 span{ background: url(../img/sprites.png) no-repeat -578px -285px;width: 108px;height: 82px; position:absolute; top:-39px; left:-35px; line-height:0; text-indent:-99999px;}
.wrapper{width:100%; display:inline-block;}
.span12, .container{max-width:1198px;}
#convo .span4 h1 span{ background: url(../img/sprites.png) no-repeat -588px -402px;width: 108px;height: 82px; position:absolute; top:-13px; right:-22px; line-height:0; text-indent:-99999px;}
#convo .thumbnails > li{ padding-bottom: 35px;}
#convo .thumbnails > li + li + li + li .grid p{float: right; width: 403px;}
.blogger{background: url(../img/sprites.png) no-repeat -594px -614px;width: 100px;height: 100px;}
.blogger_inverse{background: url(../img/sprites.png) no-repeat -592px -502px;width: 100px;height: 100px;}
/* Convo section CSS */
h4{font-size:24px; color:#f49ac1; font-weight:100; line-height:3;}

/* Social section CSS */
.social-media{ overflow:hidden; margin:29px 0 0 0;}
.social-media li { float:left;}
.social-media li a{width:115px; height:115px; display:block;background: url(../img/sprites.png) no-repeat -7px -133px; line-height:0; text-indent:-99999px;margin-right:28px;
transition:all 0.3s linear; -moz-transition:all 0.3s linear; }
.social-media li a:hover{background: url(../img/sprites.png) no-repeat -7px -17px;}
.social-media li.facebook a{ background-position:-146px -133px;}
.social-media li.youtube a{ background-position:-280px -133px;}
.social-media li.pint a{ background-position:-414px -133px;}
.social-media li.facebook a:hover{ background-position:-146px -17px;}
.social-media li.youtube a:hover{ background-position:-280px -17px;}
.social-media li.pint a:hover{ background-position:-414px -17px;}
#social .span6{margin-top:-17px;width:100%;}


/* footer */
.footer span{ color:#fff; font-size:19px;}
.footer{padding:21px 0px 22px; background:#000; width:100%;}
#MDM{float: right;}


@media only screen and (max-width:768px) {
	.row{margin-left:0; width:100%;}
	#home , #blog , #convo , #social{width:96%; padding:0 2%; overflow:hidden;}
	.thumbnails{margin-left:0;}
	.span12, .container{width:100%; padding:0;}
	#convo .span9{width:100%;}
	.pic{ left:inherit; right:0;}
	.pic figure{ width:90%;}
	#home .span9{margin-top:30px;}
	#home { height:auto; min-height:0;}
	.span4{width: 353px}
	.i-span{width:100%;}
	.thumbnails > li{margin-left:0;}
	.thumbnails > li.span4 {width: 353px; margin-left:9px;}
	#blog .span2{margin-left:7px !important;}
	#blog .span2{width:112px;}
	#convo .span4{float:none; width:93%; clear:both;padding-bottom:20px;}
	.social .thumbnails li {width:30%; margin-right:24px;}
	.social .thumbnails li a{ display:block; width:100%;}
	.social  .span11{width:100%;}
	.like{margin-left:-9px;}
}
@media only screen and (max-width:1199px) {
	#convo .span4 {
		float: none;
		width: 93%;
		clear: both;
		padding-bottom: 20px;
	}
}
@media only screen and (max-width:767px) {
	body{margin-left:-20px}
	#tweet{display:none}
	h1{font-size:40px;}
	h2{font-size:20px;}
	h3,h4{ font-family:18px;}
	p{ font-size:14px;}
	#social{margin-left:-1px}
	#convo .thumbnails li p, #convo .span4 p{font-size:14px;}
	#convo .span5{width: 286px;}
	#convo .span9 .grid .span5{float:left;margin-right: 10px;}
	#convo .thumbnails > li + li + li + li .grid p {
    float: right;
    width: 309px;
	}
	.alert{display:none}
	.btn.btn-navbar{ min-width: 0;
    padding:10px 10px 10px 13px;
    width: 20px;}
	#MDM{float: left}
}